h1, h3, p {
    font-family: 'Audiowide', cursive;
}

#trainSchedule {
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    border: 2px solid black;
}

#trainForm {
    height: 400px;
    border: 2px solid black;
}

#addTrain {
    margin-top: 20px;
    margin-bottom: 20px;
}
